h1{
	text-align: center;
}
#txtpic {
	margin: 0 auto;
	display: block;
	max-width: 600px;
	width: 100%;
}
.rotate{
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
pre {
	font-family: sansserif;
	white-space: pre-wrap;
	word-wrap: break-word;
}